*{
    padding: 0;
    margin: 0;
}

/* retirei o root */

/* 
atualização nome do id 
organização do conteúdo
inseri o outline
reorganizei as cores
*/
#desafio-box-model { 
    margin: 2rem;
    padding: 3rem;
    border: 5px solid #777;
    outline: 5px solid rgb(39, 202, 53);
    background-color: #fff;
}

/* 
estilização do texto sem definir margin, padding e border.
*/
.texto {
    background-color: #ac12af;
    color: #000;
    border: none;
}
