/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Baskervville', serif;
}

:root {
    /* background-color */
    --body:#F0EBF8;
    --primary-color:#FDFDFD;
    --secundary-color: #FFF;

    /* text color */
    --title: #333;
    --secundary-text: #444;
    
    /* color text and details */
    --main-color:#ca5c26;

    /* border color */
    --primary-border: #CCC;
    --secundary-border:#DFDFDF;

    /* details */
    --required-field: #D80835;
}

body {
    background-color: var(--body);
}

h1, h2, h3, h4, h5 {
    color: var(--title);
}

p, label {
    color:var(--secundary-text);
}

input {
    border: none;
    border-bottom: 1px solid var(--primary-border);
    padding: 10px 0;
}

input[type="text"], 
input[type="number"], 
input[type="date"], 
input[type="file"],
textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

/* page header */
.header {
    height: 160px;
    padding: 20px;
    background-color: var(--main-color);
    background-image: url(../img/car_sale.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15%;
}

.header h3 {
    color: var(--secundary-color);
    margin-top: 0;
}

/* form container */    
.form-container {
    background-color: var(--primary-color);
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

/* form header */
.form-header {
    border-bottom: 1px solid var(--secundary-border);
    height: 45px; 
}

.form-header p {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    width: 150px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

/* form body */
.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field {
    color: var(--required-field);
}

.box-input {
    border: 35px;
}

.block {
    display: block;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
    list-style: none;
    margin-bottom: 5px;
}

.box-input {
    margin-bottom: 15px;
}

.btn-submit {
    background-color: var(--main-color);
    color: var(--secundary-color);
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;
}

.btn-submit:hover {
    background-color: var(--secundary-color) ;
    border-color: var(--main-color);
    color: var(--main-color);
}